#logo {
  height: 10%;
  float: left;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.8);
  height: 10%;
  width: 100%;
  position: fixed;
}

#main {
  float: right;
}

#main li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

#main li a {
  line-height: 60px;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 6px;
}

#content {
  margin-bottom: 50%;
  color: green;
}

#top {
  color: rgba(0, 0, 0, 0.4);
  height: 100%;
}

#plus {
  position: relative;
  margin-right: auto;
  padding: 10px;
  padding-bottom: 30px;
}

#footer {
  text-align: center;
  width: 100%;
  position: absolute;
  height: 9%;
  background-color: rgba(0,0,0,0.2);
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
