#test-img {
  width: 101.2%;
  margin-left: -0.6%;
  margin-top: -0.6%;
}

#logo {
  height: 90%;
  margin-top: 0.2%;
  margin-left: 0.2%;
  float: left;
  transition: .3s;
}

#navbar {
  height: 60px;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s;
  margin-left: -0.6%;
  margin-top: -0.6%;
}

#main {
  float: right;
  margin-right: 2%;
  list-style: none;
  display: flex;
  transition: .3s;
  margin-top: 0.03%;
}

#main li {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}

#main li a {
  line-height: 60px;
  color: #fff;
  padding: 12px 25px;
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 6px;
}

#main li a.active {
  background-color: green;
}

#styles {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  transition: .3s;
  margin-top: -0.05%;
}

#main li a:hover {
  background-color: red;
}

#col:hover #styles{
  display: block;
}

#header {
  color: rgba(0, 0, 0, 0.5);
}

#footer {
  text-align: center;
  width: 100%;
  position: absolute;
  height: 9%;
  background-color: rgba(0,0,0,0.2);
}

#footer a {
  color: inherit;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
